# ===========================
# C/C++ Build Artifacts
# ===========================
*.o
*.a
*.so
*.out

# ===========================
# Executables
# ===========================
xsm
spl/spl
xfs-interface/xfs-interface
xfs-interface/init
xsm_dev/xsm


# ===========================
# Virtual Disk Images
# ===========================
*.xfs

# ===========================
# Temporary Files
# ===========================
*~
*.swp
*.tmp

# ===========================
# IDE Files
# ===========================
.vscode/
.idea/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db
